body {
    margin: 60px auto;
    width: 50%;
    background-color: #212625; 
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #F2F1DF;
}
a:hover {
    text-decoration: underline;
    color: #8B8C81;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #F2F1DF;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #F2F1DF;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #BFA288;
}
footer {
    border-top: 1px solid #8B8C81;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
