@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url(//fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: auto;
  width: 45%;
  background-color: #F1F3F4;
  font-family: 'Open Sans', sans-serif;
  color: #373D3F;
}

@media screen and (max-width: 1080px) {
  body {
    width: 80%;
  }
}

@media screen and (max-width: 580px) {
  body {
    width: 95%;
  }
}

nav ul,
footer ul {
  font-family: 'Open Sans', 'sans-serif';
  padding: 0em;
  list-style: none;
  font-weight: bold;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 1em;
}

nav ul {
  padding-top: 0.3em;
}

nav ul.navItems li.navTitle {
  float: right;
}

a {
  text-decoration: none;
  color: #107896;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.0em;
  line-height: 1.1em;
  padding-bottom: 0.5em;
}

nav {
  border-bottom: 1px solid #8B8C81;
  padding-bottom: .8em;
  padding-top: .8em;
}

footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #8B8C81;
  font-size: .8em;
}

.container ul li,
.post ul li {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 0.1em;
  margin: 0.2em;
}

.container ul li li,
.post ul li li {
  font-weight: normal;
  font-size: 0.9em;
  padding-left: 1em;
}

.highlighter-rouge {
  padding: 1em;
  max-height: 50em;
  border: 1px solid #107896;
  overflow: auto;
}

pre {
  font-family: 'Inconsolata', monospace;
}

.steamEmbed {
  padding-left: 5%;
  width: 90%;
}

.theme-bar.slider-wrapper{
  margin-top: 1em; 
  margin-bottom: 1em;
}