<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{ site.github.url }}/lightslider/dist/css/lightslider.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ site.github.url }}/lightslider/dist/js/lightslider.js"></script>
</head>
    <style>
    img {
      min-width: 100%
    }
  </style>
<body>
{{ content }}
<script type="text/javascript"> 
    $(document).ready(function() {
      $("ul").lightSlider({
        "item": {{ page.item | default: 1 }},                               
        "slideMove": "{{ page.slideMove | default: 1 }}",
        "loop": {{ page.loop | default: false }},
        "mode": "{{ page.mode | default: slide }}",
        "speed": {{ page.speed | default: 600 }},
        "pause": {{ page.pause | default: 2000 }},
        "vertical": {{ page.vertical | default: false }},
        "auto": {{ page.auto | default: false }},
        "pauseOnHover": {{ page.pauseOnHover | default: false }},
        "pager": {{ page.pager | default: true }},
        "controls": {{ page.cotrols | default: true }},
        "adaptiveHeight": {{ page.adaptiveHeight | default: false }},
        "gallery": "{{ page.gallery | default: true }}",
        "thumbItem": "{{ page.thumbItem | default: 2 }}"
      });
    });
</script>
</body>
</html>
