<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{ site.github.url }}/lightgallery.js/dist/css/lightgallery.css"/>
  <script src="{{ site.github.url }}/lightgallery.js/dist/js/lightgallery.min.js"></script>
</head>
<body>
  <ul id="ul-li">
    <li data-src="my-pics1/pic1.jpg">
        <img src="my-pics1/pic1.jpg" alt="A nice pic of mine" />
    </li>
    
    <li data-src="my-pics1/pic2.jpg">
        <img src="my-pics1/pic2.jpg" alt="Another nice pic of mine" />
    </li>
    
    <li data-src="my-pics1/pic3.jpg">
        <img src="my-pics1/pic3.jpg" alt="Another nice pic of mine" />
    </li>
    
    <li data-src="my-pics1/pic4.jpg">
        <img src="my-pics1/pic4.jpg" alt="Another nice pic of mine" />
    </li>
    
  </ul>
<script type="text/javascript"> 
    lightGallery(document.getElementById('ul-li'));
</script>
</body>
</html>
