<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{ site.github.url }}/lightgallery.js/dist/css/lightgallery.css"/>
  <script src="{{ site.github.url }}/lightgallery.js/dist/js/lightgallery.min.js"></script>
</head>
<body>
    {{ content }} 
    <div id="lightgallery">
      <a href="slides/my-pics1/pic1.jpg">
          <img src="slides/my-pics1/pic2.jpg" />
      </a>
      <a href="slides/my-pics1/pic3.jpg">
          <img src="slides/my-pics1/pic4.jpg" />
      </a>
    </div>
<script type="text/javascript"> 
    lightGallery(document.getElementById('lightgallery')); 
</script>
</body>
</html>
